In [63]:
# Dependencies and Setup
import pandas as pd

In [64]:
# File to Load 
hero_path = "HeroesOfPymoli/Resources/purchase_data.csv"

In [65]:
# Read Purchasing File and store into Pandas data frame
hero_df=pd.read_csv(hero_path)

## Just looking at what I am working with.

In [66]:
hero_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [67]:
hero_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [68]:
hero_df.shape

(780, 7)

In [69]:
hero_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

## Player Count

* Display the total number of players

In [70]:
#Create a dictionary (key is Total Players: value is the count of the total number 
# of unique players), convert it to a DataFrame, and print the new DF. 
tp_df=pd.DataFrame({"Total Players":[len(hero_df["SN"].value_counts())]})
tp_df

   Total Players
0            576

## Purchasing Analysis (Total) 
* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [71]:
# Create a new DataFrame with columns: Number of Unique Items, Average Price, 
# Number of Purchases, and Total Revenue. Print the DataFrame.  
pa_df=pd.DataFrame({
    "Number of Unique Items":[len(hero_df["Item Name"].value_counts())],
    "Average Price":pd.Series(hero_df["Price"].mean()).map("${:,.2f}".format),
     "Number of Purchases":[len(hero_df["Item Name"])],
     "Total Revenue":pd.Series(hero_df["Price"].sum()).map("${:,.2f}".format)
     })
pa_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics:
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [72]:
# Create new DataFrame of the count and percentage of each gender. Print DataFrame.
gender_df=pd.DataFrame(hero_df.drop_duplicates("SN")["Gender"].value_counts())
gender_df["Percentage of Players"]=pd.Series(round(gender_df['Gender']/len(hero_df['SN'].value_counts())*100,2)).map("{:,.2f}%".format)
gender_df=gender_df.rename({"Gender":"Total Count"},axis=1)
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [101]:
# Calculate purchase count, avg. purchase price, total purchase per gender, 
# and average total purchase per person per gender.
gender_count = hero_df.groupby(['Gender']).count()['Price'].rename("Purchase Count")
mean_pp = hero_df.groupby(['Gender']).mean()['Price'].rename("Average Purchase Price")
gender_pt = hero_df.groupby(['Gender']).sum()['Price'].rename("Total Purchase Value")
# Use the gender count from the previous DF to calculate Avg Total Purchase per Person by Gender. 
mean_ip = gender_pt/gender_df['Total Count']

# Create my DF for Purchase Analysis by Gender                                               
gender_pa_df = pd.DataFrame({"Purchase Count":gender_count,
                             "Average Purchase Price":mean_pp,
                             "Total Purchase Value":gender_pt,
                             "Avg Total Purchase per Person":mean_ip})

# Format dollars and decimals
gender_pa_df['Average Purchase Price']=gender_pa_df['Average Purchase Price'].map("${:,.2f}".format)
gender_pa_df['Total Purchase Value']=gender_pa_df['Total Purchase Value'].map("${:,.2f}".format)
gender_pa_df['Avg Total Purchase per Person']=gender_pa_df['Avg Total Purchase per Person'].map("${:,.2f}".format)

gender_pa_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics:
* The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
* Purchase Count
* Average Purchase Price
* Total Purchase Value
* Average Purchase Total per Person by Age Group

## Purchasing Analysis (Age)
* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

## Top Spenders:
* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
* SN
* Purchase Count
* Average Purchase Price
* Total Purchase Value

## Most Popular Items:
* Identify the 5 most popular items by purchase count, then list (in a table):
* Item ID
* Item Name
* Purchase Count
* Item Price
* Total Purchase Value

## Most Profitable Items:
* Identify the 5 most profitable items by total purchase value, then list (in a table):
* Item ID
* Item Name
* Purchase Count
* Item Price
* Total Purchase Value

In [ ]:
# As final considerations:
# You must use the Pandas Library and the Jupyter Notebook.

# You must submit a link to your Jupyter Notebook with the viewable Data Frames.

# You must include a written description of three observable trends based on the data.

# See Example Solution for a reference on expected format.